body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f9fa;
}

header {
    background: #d9534f;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.auth-links {
    margin-right: 20px;
}

.auth-links a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

.auth-links a:hover {
    text-decoration: underline;
}

.hero {
    padding: 50px;
    background: #ffcccc;
}

.hero-image {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
}

button {
    background: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #c9302c;
}

#find {
    padding: 20px;
}

.section-image {
    max-width: 10%;
    height: auto;
    margin-bottom: 10px;
}

footer {
    background: #d9534f;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}